    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content" class="bg-secondary">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h1 class="text-center palette-5 font-weight-light my-4">Login</h1></div>
                                <div class="card-body">


                                    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                                        <mat-form-field appearance="outline" class="w-full p-2">
                                            <mat-label>Usuario</mat-label>
                                            <input matInput formControlName="username" type="text"
                                            #boxU>
                                            <mat-error *ngFor="let validation of userFormValidationMessage.username">
                                              <span *ngIf="loginForm.get('username')?.hasError(validation.type) &&
                                              (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                                              {{validation.message}}</span>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="w-full p-2">
                                            <mat-label>Contraseña</mat-label>
                                            <input matInput formControlName="password" type="password"
                                            #boxP>
                                            <mat-error *ngFor="let validation of userFormValidationMessage.password">
                                              <span *ngIf="loginForm.get('password')?.hasError(validation.type) &&
                                              (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                                              {{validation.message}}</span>
                                            </mat-error>
                                        </mat-form-field>
                                        <div class="d-flex align-items-center justify-center mt-4 mb-0">
                                          <button type="submit" class="btn btn-primary">Ingresar</button>
                                      </div>
                                    </form>
                                </div>



                                <div class="d-flex card-footer align-items-center justify-content-between py-3">
                                    <div class="small"><a href="#" routerLink="/register">No tienes cuenta? creala acá!</a></div>
                                    <button class="btn btn-secondary" routerLink="../">Volver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <div id="layoutAuthentication_footer">
          <app-footer></app-footer>
        </div>
    </div>
