<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
      <div class="container ">
          <label for="" class="logo1">
              <a href=""> <img src="assets/img/footprint-shape-svgrepo-com.svg" alt="" class="logo1"></a>
          </label>
          <a class="navbar-brand" href="#page-top">PET-CARE</a>
          <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menú
              <i class="fas fa-bars"></i>
          </button>
          <div class="collapse visible navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#adoptar">Adoptar</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">Nuestra historia</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#educativa">Información educativa</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#donacion">Donar</a></li>
              </ul>
          </div>
      </div>
  </nav>

    <div class="app">
    <input type="checkbox" id="btn-mas">

    <div class="redes">
        <a href="#" routerLink="/Login" matTooltip="Ingresa a tú cuenta" matTooltipPosition="left"><i class="fas fa-user"></i></a>
    </div>
    <div class="redes">
        <a href="#" routerLink="/Registro" matTooltip="Registrate" matTooltipPosition="left"><i class="fas fa-pen"></i></a>
    </div>
    <div class="redes">
        <a href="#" routerLink="/Mascotas" matTooltip="Administra las mascotas" matTooltipPosition="left"><i class="fas fa-paw"></i></a>
    </div>
    
    <div class="btn-mas">
        <label for="btn-mas" matTooltip="Ingresa a tú cuenta o crea una nueva!" matTooltipPosition="left"><i class="fas fa-heart"></i></label>
    </div>
    </div>

  <!-- Masthead-->
  <header class="masthead bg-primary text-palette2 text-center">
      <div class="container d-flex align-items-center">

          <!-- Masthead Avatar Image-->
          <img class="masthead-avatar mb-5" src="assets/img/portada2.jpg" alt="..." />
          <!-- Masthead Heading-->
          <div class="flex flex-col">
            <div class="Section">
              <h1 class="masthead-heading text-uppercase mb-0" >Encuentra a un amigo fiel aquí!!</h1>
              <br><br/>
              <p class="masthead-text mb-5">
                  En la mayoría de los casos, adoptar significa darle una segunda oportunidad a un animal que ha sufrido
                  un proceso de abandono, y en ocasiones maltrato. Acogerlo en tu casa de por vida y darle la estabilidad,
                  los cuidados y el cariño que necesita va a ayudarlo a que recupere su confianza y su autoestima.
                  <br><br/>
                  A cambio, la recompensa que vas a obtener es infinita, su capacidad de agradecimiento a medida que se habitúen
                  a tu familia o a ti llenará de felicidad su día a día.
              </p>
            </div>
          </div>
      </div>
  </header>
  <!-- Sección adoptar-->
  <section class="page-section bg-secondary text-white mb-0 adoptar" id="adoptar">
      <div class="container">
          <!-- adoptar Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase text-palette4 mb-0">Adoptar es facil!!!</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="logo1"><a href=""> <img src="assets/img/footprint-shape-svgrepo-com-c4.svg" alt=""></a><i></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Adoptar proceso-->
          <div class="container d-flex align-items-center text-justify">
              <div class="Section">
                  <p class="page-section-text mb-5">
                      Esta plataforma ha sido creada con la finalidad de unir a familias y máscotas, seremos una vitrina donde puedes
                      conecer a muchas mascotas en adopción de diferentes especies y razas, te mostraremos información importante como
                      fotografías, su nombre, edad, sexo, historia de origen, estado de salud y mucho más.
                      <br><br/>
                      Cuando hayas encontrado tu mascota ideal puedes agendar una visita a nuestra oficina para conocerla y continuar
                      el proceso. Todo el proceso es GRATUITO.
                  </p>
                  <div class="divider-custom">
                      <a href="" class="logo2"> <img src="assets/img/dog-svgrepo-com.svg" alt="" ></a>
                      <a href="" class="logo2"> <img src="assets/img/pig-svgrepo-com.svg" alt=""></a>
                      <a href="" class="logo2"> <img src="assets/img/bird-svgrepo-com.svg" alt=""></a>
                      <a href="" class="logo2"> <img src="assets/img/bunny-svgrepo-com.svg" alt=""></a>
                      <a href="" class="logo2"> <img src="assets/img/cat-svgrepo-com.svg" alt=""></a>
                  </div>
              </div>
              <!-- Pasos para adoptar-->
              <img class="page-section-adoptar mb-5" src="assets/img/proceso de adopcion.gif" alt="..." />
          </div>
      </div>
  </section>
  <!-- About Section-->
  <section class="page-section bg-primary text-palette2 mb-0" id="about">
      <div class="container">
          <!-- About Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase text-palette2">Nuestra Historia</h2>
          <!-- Icon Divider-->
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="logo1"><a href=""> <img src="assets/img/footprint-shape-svgrepo-com-c2.svg" alt=""></a><i></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- About Section Content-->
          <div class="row">
              <div class="col-lg-4 ms-auto align-items-center text-justify">
                  <p class="lead">
                      Somos PET-CARE una organización sin fines de lucro fundada en 2005, esta empresa nacio de en el corazón de nuestra
                      fundadora Marta Granados que al ver la cantidad excesiva y cada vez creciente de animales abandonado viviendo
                      en las calles, sintió el llamado de actuar y fomentar un cambio.
                      <br><br/>
                      Actualmente la organización atiende a más de 50 animales, algunos de ellos rescatodos de las calle y otros
                      rescatados de familias que los maltrataban; los alimentamos, sanamos y buscamos familias de buen corazón
                      y con las condiciones ideales para adoptarlas.
                  </p>
              </div>
              <div class="col-lg-4 me-auto align-items-center text-justify">
                  <p class="lead">
                      La organización se mantiene en servicio gracias a las donaciones que las personas de buen corazón realizan
                      y al trabajo que realizan nuestros voluntarios en las instalaciones.
                  </p>
                  <br><br/>
                  <h4 class="masthead-heading text-uppercase mb-0 text-center" >Visión</h4>
                  <p class="lead">
                      Continuar rescatando animale necesitados con la esperanza de que algún día ya no se requieran nuestros servicios
                      tras alcanzar la felicidad de todos ellos a traves de la conexión con familias amorosas y de canales informativos
                      para educar en el cuidado de mascotas a toda nuestra nación.
                  </p>
              </div>
          </div>
      </div>
  </section>


  <!-- Educativa Section-->
  <section class="page-section bg-secondary text-white mb-0 educativa" id="educativa">
      <div class="container">
          <!-- adoptar Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase text-palette4 mb-0">Queremos compartir nuestros conocimientos contigo:</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="logo1"><a href=""> <img src="assets/img/footprint-shape-svgrepo-com-c4.svg" alt=""></a><i></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Información educativa-->
          <div class="container d-flex align-items-center text-justify">
              <!-- Avatar Image-->
              <img class="page-section-avatar mb-0" src="assets/img/Amor-de-mascota.ico" alt="..." />
              <!-- Heading-->
              <div class="Section">
                  <h4 class="page-section-heading text-uppercase mb-5" >Amor de mascotas</h4>
                  <p class="page-section-text mb-5">
                      El amor y cuidado que brindamos a nuestras mascotas es fundamental para su bienestar físico y emocional.
                      El amor de mascotas se trata de asegurarse de que nuestras mascotas tengan todo lo que necesitan para
                      vivir una vida feliz y saludable. Esto incluye alimentarlas adecuadamente, brindarles atención médica,
                      asegurarnos de que tengan suficiente actividad física y socialización, y proporcionarles un ambiente seguro
                      y cómodo para vivir.
                  </p>
              </div>
          </div>

          <div class="container d-flex align-items-center text-justify">
              <!-- Heading-->
              <div class="Section">
                  <h4 class="page-section-heading text-uppercase mb-5" >Hogar para mascotas</h4>
                  <p class="page-section-text mb-5">
                      Todas las mascotas merecen un hogar amoroso y seguro. Cuando las mascotas no tienen hogar, pueden terminar
                      en refugios o en la calle, lo que puede ser peligroso y estresante para ellas. Adoptar una mascota puede
                      brindarles el hogar que necesitan y merecen. Los hogares para mascotas deben ser lugares seguros, cómodos
                      y libres de peligros, y deben proporcionar a las mascotas la atención y el amor que necesitan para prosperar.
                  </p>
              </div>
              <!-- Image-->
              <img class="page-section-avatar mb-0" src="assets/img/hogar-para-mascotas.ico" alt="..." />
          </div>

          <div class="container d-flex align-items-center text-justify">
              <!-- Avatar Image-->
              <img class="page-section-avatar mb-0" src="assets/img/responsabilidad-mascota.ico" alt="..." />
              <!-- Heading-->
              <div class="Section">
                  <h4 class="page-section-heading text-uppercase mb-5" >Responsabilidad animal</h4>
                  <p class="page-section-text mb-5">
                      Tener una mascota conlleva una gran responsabilidad. Como dueños de mascotas, es nuestra responsabilidad
                      asegurarnos de que nuestras mascotas tengan todo lo que necesitan para vivir una vida feliz y saludable.
                      Esto incluye brindarles atención médica regular, asegurarnos de que tengan suficiente actividad física y
                      socialización, y proporcionarles un ambiente seguro y cómodo para vivir. También es nuestra responsabilidad
                      asegurarnos de que nuestras mascotas no causen daño a otras personas o animales, y de cumplir con las leyes
                      y regulaciones que rigen la tenencia de mascotas.
                  </p>
              </div>
          </div>
      </div>
  </section>


  <!-- Contact Section-->
  <section class="page-section" id="donacion">
      <div class="container">
          <!-- Contact Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Ayudanos con tus donaciones!!!</h2>
          <!-- Icon Divider-->
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="logo1"><a href=""> <img src="assets/img/footprint-shape-svgrepo-com-c2.svg" alt=""></a><i></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <div class="w-full flex gap-4 flex-col md:flex-row">
            <div class="md:w-1/2 w-full flex flex-col justify-center">
              <span class="pb-3 text-2xl w-full text-center text-yellow-600 font-medium">Construye un mundo mejor</span>
              <img class="p-2 max-w-md m-auto" src="https://vetmarketportal.com.ar/uploads/noticias/5/20210308121030_perro_callejero_copia.jpg" alt="perritos de la calle">
              <div class="pt-3 max-w-md m-auto text-justify text-yellow-600">¡Cambia vidas! Dona para ayudar a las mascotas callejeras. Tu aporte proporciona refugio, comida y atención médica. Juntos, salvamos vidas y llevamos alegría a corazones peludos necesitados. ¡Sé un héroe hoy!</div>
            </div>
            <div class="md:w-1/2 w-full flex flex-col justify-between">
                <mat-stepper linear #stepper>
                    <mat-step [completed]="false">
                      <form [formGroup]="firstFormGroup" class="pt-4">
                        <ng-template matStepLabel>Escoger un monto</ng-template>
                        <div class="my-8 flex flex-row justify-center pb-4">
                            <div
                            (click)="changeSubscription('oneTimeSubscription')"
                            class="py-2 hover:cursor-pointer w-1/4 text-center border-2 border-solid border-yellow-400 text-yellow-400"
                            [ngClass]="{'bg-yellow-400 text-white' : oneTimeSubscription}">
                                1 vez
                            </div>
                            <div
                            (click)="changeSubscription('multipleTimeSubscription')"
                            class="py-2 hover:cursor-pointer w-1/4 text-center border-2 border-solid border-yellow-400 text-yellow-400"
                            [ngClass]="{'bg-yellow-400 text-white' : !oneTimeSubscription}">
                                Mensual
                            </div>
                        </div>
                        <div class="flex flex-col gap-4">
                            <div class="flex flex-row gap-3 justify-between">
                                <div
                                class="border-solid border-2 border-yellow-400 text-yellow-400 w-1/3 text-center py-2 font-medium text-lg hover:cursor-pointer"
                                [ngClass]="{'bg-yellow-400 text-white' : chosenAmount === 5}"
                                (click)="selectAmount(5)">
                                    $ 5
                                </div>
                                <div
                                class="border-solid border-2 border-yellow-400 text-yellow-400 w-1/3 text-center py-2 font-medium text-lg hover:cursor-pointer"
                                [ngClass]="{'bg-yellow-400 text-white' : chosenAmount === 10}"
                                (click)="selectAmount(10)">
                                    $ 10
                                </div>
                                <div
                                class="border-solid border-2 border-yellow-400 text-yellow-400 w-1/3 text-center py-2 font-medium text-lg hover:cursor-pointer"
                                [ngClass]="{'bg-yellow-400 text-white' : chosenAmount === 20}"
                                (click)="selectAmount(20)">
                                    $ 20
                                </div>
                            </div>
                            <div class="flex flex-row gap-3 justify-between items-center">
                                <div
                                class="border-solid border-2 border-yellow-400 text-yellow-400 w-1/3 text-center h-14 font-medium text-lg flex justify-center items-center hover:cursor-pointer"
                                [ngClass]="{'bg-yellow-400 text-white' : chosenAmount === 30}"
                                (click)="selectAmount(30)">
                                    $ 30
                                </div>
                                <mat-form-field appearance="outline" class="w-2/3 hover:cursor-pointer" (click)="selectAmount(0)">
                                    <mat-label>Monto personalizado</mat-label>
                                    <div class="flex flex-row">
                                      <span *ngIf="firstFormGroup.controls.firstCtrl.value" class="" matTextPrefix>$&nbsp;</span>
                                      <input type="number" matInput formControlName="firstCtrl">
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>Completar donación</ng-template>
                      <p>You are now done.</p>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                      </div>
                    </mat-step>
                  </mat-stepper>
                  <div>
                    <button mat-raised-button class="w-full h-16 text-white bg-yellow-400">Siguiente</button>
                  </div>
            </div>
          </div>
      </div>
  </section>
  <!-- Footer-->
  <footer class="footer text-center">
      <div class="container">
          <div class="row">
              <!-- Footer Location-->
              <div class="col-lg-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">Encuentranos en</h4>
                  <p class="lead mb-0">
                      Colonia Miramonte, San Salvador, San Salvador.
                      <br />
                      Edificio QH, primer nivel.
                  </p>
              </div>
              <!-- Footer Social Icons-->
              <div class="col-lg-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">Visita nuestras redes sociales</h4>
                  <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                  <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                  <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                  <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
              </div>
              <!-- Footer About Text-->
              <div class="col-lg-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">Contactanos:</h4>
                  <p class="lead mb-0">
                      Teléfono: 7586-9446
                      <br />
                      Correo electrónico: mascotas@petcare.com.
                  </p>
              </div>
          </div>
      </div>
  </footer>
  <!-- Copyright Section-->
  <div class="copyright py-4 text-center text-white">
      <div class="container"><small>Copyright &copy; Pet Care 2023</small></div>
  </div>

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/scripts.js"></script>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <!-- * *                               SB Forms JS                               * *-->
  <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
