<div class="flex flex-col justify-center items-center my-10 mx-24">

  <app-floating-button></app-floating-button>
  
    <mat-card class="w-full h-full">
      <mat-card-content>
        <div class="">
          <div class="flex flex-row justify-between pb-5">
            <div class="text-2xl font-medium text-yellow-500">
              Agregar un nuevo usuario
            </div>
            <div class="flex flex-row gap-4">
              <div>
                <button (click)="goBack()" mat-raised-button class="text-yellow-500 text-lg">Regresar</button>
              </div>
              <div *ngIf="!idRoute">
                <button [disabled]="formulario.invalid" (click)="crearUsuario()" mat-raised-button class="bg-yellow-500 text-white text-lg">Crear Usuario</button>
              </div>
              <div *ngIf="idRoute">
                <button (click)="guardarUsuario(false)" mat-raised-button class="bg-yellow-500 text-white text-lg">Guardar</button>
              </div>
              <div *ngIf="idRoute">
                <button (click)="guardarUsuario(true)" mat-raised-button class="bg-yellow-500 text-white text-lg">Guardar y salir</button>
              </div>
            </div>
          </div>
          <div [formGroup]="formulario" class="flex flex-row flex-wrap">
            <mat-form-field appearance="outline" class="w-1/2 p-2">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 p-2">
              <mat-label>Correo electrónico</mat-label>
              <input matInput formControlName="email" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 p-2">
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="alias">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 p-2">
              <mat-label>Contraseña eventual</mat-label>
              <input matInput formControlName="clave">
            </mat-form-field>
  

            

  
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div>
  </div>
