<div class="app">
  <input type="checkbox" id="btn-mas">
  <div class="redes">
    <a href="#" routerLink="/login" matTooltip="Ingresa a tú cuenta" matTooltipPosition="left"><i class="fas fa-user"></i></a>
</div>
<div class="redes">
    <a href="#" routerLink="/register" matTooltip="Registrate" matTooltipPosition="left"><i class="fas fa-pen"></i></a>
</div>
<div class="redes">
    <a href="#" routerLink="/pets" matTooltip="Administra las mascotas" matTooltipPosition="left"><i class="fas fa-paw"></i></a>
</div>
  <div class="btn-mas">
      <label for="btn-mas" matTooltip="Ingresa a tú cuenta o crea una nueva!" matTooltipPosition="left"><i class="fas fa-heart"></i></label>
  </div>
</div>
