<div class="app z-40">
  <input type="checkbox" id="btn-mas">
  <div class="redes">
    <a href="#" routerLink="/" *ngIf="getURL !== '/' " matTooltip="Inicio" matTooltipPosition="left"><i class="fas fa-home"></i></a>
  </div>
  <div class="redes">
      <a href="#" *ngIf="!isLoggedIn && getURL !== '/login'" routerLink="/login" matTooltip="Ingresa a tú cuenta" matTooltipPosition="left"><i class="fas fa-user"></i></a>
  </div>
  <div class="redes">
      <a href="#" *ngIf="!isLoggedIn && getURL !== '/register'" routerLink="/register" matTooltip="Registrate" matTooltipPosition="left"><i class="fas fa-pen"></i></a>
  </div>
  <div class="redes">
    <a href="#" *ngIf="isLoggedIn && (getUserRol === 'ROLE_ADMIN' || getUserRol === 'ROLE_MANAGER') && getURL !== '/listaUsuario'" routerLink="/listaUsuario" matTooltip="Lista de usuarios" matTooltipPosition="left"><i class="fas fa-list"></i></a>
  </div>
  <div class="redes">
      <a href="#" *ngIf="isLoggedIn && (getUserRol === 'ROLE_ADMIN' || getUserRol === 'ROLE_MANAGER') && getURL !== '/pets'" routerLink="/pets" matTooltip="Administra las mascotas" matTooltipPosition="left"><i class="fas fa-paw"></i></a>
  </div>
  <div class="redes">
    <a href="#" routerLink="/pets/galeria" *ngIf="getURL !== '/pets/galeria' "  matTooltip="Galería de mascotas" matTooltipPosition="left"><i class="fas fa-th"></i></a>
  </div>
  <div class="redes">
    <a href="#" *ngIf="isLoggedIn && (getUserRol === 'ROLE_ADMIN' || getUserRol === 'ROLE_MANAGER') && getURL !== '/admin-solicitud'" routerLink="/admin-solicitud" matTooltip="Administra las solicitudes" matTooltipPosition="left"><i class="fa-solid fa-address-card"></i></a>
</div>

<div class="redes">
  <a href="#" *ngIf="isLoggedIn && (getUserRol === 'ROLE_ADMIN' || getUserRol === 'ROLE_MANAGER') && getURL !== '/admin-citas'" routerLink="/admin-citas" matTooltip="Administra las citas" matTooltipPosition="left"><i class="fa-solid fa-calendar-days"></i></a>
</div>

<div class="redes">
  <a href="#" *ngIf="isLoggedIn && (getUserRol === 'ROLE_ADMIN' || getUserRol === 'ROLE_MANAGER') && getURL !== '/adopciones'" routerLink="/adopciones" matTooltip="Administra las adopciones" matTooltipPosition="left"><i class="fa-solid fa-dog"></i></a>
</div>

<div class="redes">
  <a href="#" *ngIf="isLoggedIn && (getUserRol === 'ROLE_USER') && getURL !== '/solicitudes'" routerLink="/solicitudes" matTooltip="solicitudes de adopcion" matTooltipPosition="left"><i class="fa-solid fa-address-card"></i></a>
</div>
  <div class="redes">
    <a href="#" *ngIf="isLoggedIn && (getUserRol === 'ROLE_ADMIN' || getUserRol === 'ROLE_MANAGER' || getUserRol === 'ROLE_USER') && getURL !== '/configuration'" routerLink="/configuration" matTooltip="Configuracion" matTooltipPosition="left"><i class="fas fa-gear"></i></a>
</div>
  <div class="btn-mas">
      <label for="btn-mas" matTooltip="Da click para ver mas opciones!!" matTooltipPosition="left"><i class="fas fa-heart"></i></label>
  </div>
</div>


