
<div class="flex flex-col">
  <app-floating-button></app-floating-button>
  <div class="flex flex-row justify-between my-10 mx-24">
    <div class="text-4xl font-medium text-yellow-500">Mascotas</div>
    <div class="flex flex-row gap-4">
      <button mat-raised-button routerLink="../" class="bg-white text-yellow-500 h-10 w-40 rounded-lg text-lg">Regresar</button>
      <button mat-raised-button routerLink="new" class="text-white bg-yellow-500 h-10 w-full rounded-lg text-lg">Agregar Mascota</button>
    </div>
  </div>
  <div class="flex justify-center items-center mx-24 mb-7" *ngIf="dataSource.length !== 0; else noRegistros">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="w-1/5 text-yellow-500 text-base"> Nombre </th>
        <td mat-cell *matCellDef="let element" class="w-1/5"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="especie">
        <th mat-header-cell *matHeaderCellDef class="w-1/5 text-yellow-500 text-base"> Especie </th>
        <td mat-cell *matCellDef="let element" class="w-1/5"> {{element.especie.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="raza">
        <th mat-header-cell *matHeaderCellDef class="w-1/5 text-yellow-500 text-base"> Raza </th>
        <td mat-cell *matCellDef="let element" class="w-1/5"> {{element.raza.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="estadoSalud">
        <th mat-header-cell *matHeaderCellDef class="w-1/5 text-yellow-500 text-base"> Estado de Salud </th>
        <td mat-cell *matCellDef="let element" class="w-1/5"> {{element.estadoSalud.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="w-1/5 text-yellow-500 text-base"> Acciones </th>
        <td mat-cell *matCellDef="let element" class="w-1/5">
          <div class="flex gap-2">
            <button mat-raised-button class="text-base" [routerLink]="'/pets/edit/' + element.id">Editar</button>
            <button mat-raised-button class="bg-yellow-500 text-white text-base" (click)="openDialog(element.id)">Borrar</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <ng-template #noRegistros>
    <div class="flex justify-center items-center flex-col gap-28 mt-20">
      <mat-icon class="w-32 text-9xl pr-28 text-yellow-500">folder_off</mat-icon>
      <div class="text-center text-yellow-500 text-2xl font-normal">Actualmente sin registros</div>
    </div>
  </ng-template>
</div>
<app-pagination *ngIf="pagina.totalPages > 1" [pagina]="pagina" (selectPage)="nextPage($event)"></app-pagination>
